body {
	font-family: Calibri, sans-serif;	
}

table {
	border-collapse: collapse;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}

td, th {
	border: 1px solid #404040;
	white-space: nowrap;
	padding: 2px;
}

#printTitle {
	display: none;
}

.spaceControl {
	margin-left: 20px;
}

/* location divs */

.location {
	clear: left;
	/*whitespace: nowrap;*/
}

.locationFlex {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

h1 {
	/*flex-basis: 100%;*/
	width: 100%;
	clear: left;
	display: inline-block;
}

/* team tables */

.tasktable table {
  padding: 0px;
  width: 100%;
}

.tasktable td, th {
  padding: 0px;
}

thead {
	background-color: #404040;
	color: white;
}

.name {
  text-align: left;
}

.sectionname {
	background-color: grey;
	color: white;
	cursor: pointer;
	font-weight: bold;
	width: 100%;
	/*display: flex;
	justify-content: space-between;*/
}

td.donor, td.donor:active {
	/*flex: 1 0 content;*/
	width: 1px;
	border-left: 0px;
	font-size: small;
	white-space: nowrap;
	padding-left: 3px;
	padding-right: 3px;
	cursor: default;
}

.sectionname_name {
	/* flex: 5 0 content; */
	border-right: 0px;
	width: 100%;
}

.section_th {
	font-weight: bold;
}

.tasktable {
  width: 250px;
  float: left;
  margin-right: 50px;
  margin-bottom: 10px;
  /*display: inline-block;*/
}

.childgrid tr {
	cursor: pointer;
}

.childgrid td {
	padding-left: 1px;
	padding-right: 1px;
}

.changed {
  background-color: yellow;
}

.pos {
	background-color: LightGray;
}

td.changedpos {
	color: yellow;
}

td.changeddonor {
  border: 1px solid yellow;
}

/* Donor tables */

.donorFlex {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

.teamtodonor {
	margin-right: 25px;
	margin-bottom: 10px;
}

/* color for selected rows and tables */

.selectedRow, .selectedRow:active, .childgrid .draggable_tr:active {
  background-color: HotPink;
  cursor: move;
}

.selectedSection, .selectedSection:active, .sectionname:active {
  background-color: HotPink;
  cursor: move;
}

.hidden {
	visibility: hidden;
	border: none;
}